.container {
    padding: 8px;
    
  }
  
  body{
    background-color:#22A699;;
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #F2BE22;
  }
  
  .highlight {
    color: #F24C3D;
  }

  .highlight1 {
    color: #F29727
  }
  
  .subtitle {
    font-size: 18px;
    color:  #F2BE22;
  }
  